body {
  background-color: rgb(165, 188, 80);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.box {
  height: auto;
  background-color: rgb(244, 204, 67);
  border: none;
  border-radius: 10px;
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(86, 72, 72);
}
.title {
  font-size: 40px;
  font-weight: bold;
  height: auto;
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(86, 72, 72);
}
a:link {
  text-decoration: none;
  color: rgb(86, 72, 72);
}
a:visited {
  text-decoration: none;
  color: white;
  border: 5px solid black;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  height: auto;
  width: auto;
}
p,
h3 {
  color: rgb(86, 72, 72);
}
.img {
  border-radius: 50px;
  height: 120px;
  margin: 10px;
  padding: 10px;
  width: 120px;
  border: none;
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 5s;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.img:hover {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  transform-style: preliminary-value;
  transform: scale(1.05);
  border: 5px solid black;
}
.frame {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 500px;
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  display: center;
  justify-content: center;
  align-items: center;
}
#upgrade1,
#upgrade2,
#upgrade3 {
  border-radius: 20px;
  border: none;
  background-color: #176baa;
  color: white;
  font-size: 20px;
  width: 175px;
  font-weight: bold;
  transition: transform 0.5s;
  padding: 2px;
  margin: 2px;
  display: inline-block;
}
#upgrade1:hover,
#upgrade2:hover,
#upgrade3:hover {
  transform: translateY(-7px);
  border: black 5px solid;
  box-shadow:
    0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
hr {
  border: 5px;
}
.upgrades {
  height: auto;
  background-color: rgb(244, 204, 67);
  border: none;
  border-radius: 10px;
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: right;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(86, 72, 72);
  width: 180px;
  position: absolute;
  right: 0;
}
